:root{
    --white:        #ffffff;
    --light-gray:   #eeeeee;
    --dark-gray:    #6f6f6f;
    --dark-black:   #212121;
    --black:        #000000;
    --blue:         #0077b6;
    --title-blue:   #00b4d8;
    --light-blue:   #E6F8FF;
    --green:        #31B470;
    --light-green:  #E6FFE8;
    --yellow:       #B49531;
    --light-yellow: #FFFAE6;
    
    --primary-font: "Open Sans", sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    font-family: var(--primary-font);
}
p{
    line-height: 3.2rem;
}
a{
    text-decoration: none;
}
.content{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.section{
    padding: 10rem 0px;
}
@media(max-width:480px){
    body{
        font-size: 1.4rem;
    }
}